In [14]:
filename = "/content/drive/MyDrive/Colab Notebooks/NLP100/chap02/popular-names.txt"
with open(filename) as f:
  print(len(f.readlines()))

2780

In [15]:
#参考
import pandas as pd
df = pd.read_table("/content/drive/MyDrive/Colab Notebooks/NLP100/chap02/popular-names.txt", header=None, sep="\t", names=["name", "sex", "number", "year"])
print(df)
print(len(df))

           name sex  number  year
0          Mary   F    7065  1880
1          Anna   F    2604  1880
2          Emma   F    2003  1880
3     Elizabeth   F    1939  1880
4        Minnie   F    1746  1880
...         ...  ..     ...   ...
2775   Benjamin   M   13381  2018
2776     Elijah   M   12886  2018
2777      Lucas   M   12585  2018
2778      Mason   M   12435  2018
2779      Logan   M   12352  2018

[2780 rows x 4 columns]
2780

In [17]:
!wc -l "/content/drive/MyDrive/Colab Notebooks/NLP100/chap02/popular-names.txt"

2780 /content/drive/MyDrive/Colab Notebooks/NLP100/chap02/popular-names.txt