In [1]:
import pandas as pd
df = pd.read_table("/content/drive/MyDrive/Colab Notebooks/NLP100/chap02/data/popular-names.txt", header=None, sep="\t", names=["name", "sex", "number", "year"])
n = int(input())
print(df.tail(n))

5
          name sex  number  year
2775  Benjamin   M   13381  2018
2776    Elijah   M   12886  2018
2777     Lucas   M   12585  2018
2778     Mason   M   12435  2018
2779     Logan   M   12352  2018