In [15]:
import pandas as pd
n = int(input())
df = pd.read_table("/content/drive/MyDrive/Colab Notebooks/NLP100/chap02/data/popular-names.txt", header=None, sep="\t", names=["name", "sex", "number", "year"])
df_cut = pd.qcut(df.index, n, labels=[i for i in range(n)])
df_cut = pd.concat([df, pd.Series(df_cut, name='sp')], axis=1)
print(df_cut.head())

10
        name sex  number  year sp
0       Mary   F    7065  1880  0
1       Anna   F    2604  1880  0
2       Emma   F    2003  1880  0
3  Elizabeth   F    1939  1880  0
4     Minnie   F    1746  1880  0