In [4]:
import pandas as pd
df = pd.read_table("/content/drive/MyDrive/Colab Notebooks/NLP100/chap02/data/popular-names.txt", header=None, sep="\t", names=["name", "sex", "number", "year"])
#dfのままソートする場合はsort_valuesの引数にinplace=Trueを入れる
sorted_df = df.sort_values("number", ascending=False)
print(sorted_df)

         name sex  number  year
1340    Linda   F   99689  1947
1360    Linda   F   96211  1948
1350    James   M   94757  1947
1550  Michael   M   92704  1957
1351   Robert   M   91640  1947
...       ...  ..     ...   ...
27      Annie   F    1326  1881
28     Bertha   F    1324  1881
8      Bertha   F    1320  1880
29      Alice   F    1308  1881
9       Sarah   F    1288  1880

[2780 rows x 4 columns]