In [4]:
import pandas as pd
df = pd.read_table("/content/drive/MyDrive/Colab Notebooks/NLP100/chap02/data/popular-names.txt", header=None, sep="\t", names=["name", "sex", "number", "year"])
n = int(input())
print(df.head(n))

5
        name sex  number  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880